.chat {
  display: flex;
  align-items: center;
  max-width: 310px;
  min-height: 71px;
  border-top: 1px solid #EAEAEA;
  background: #F5F5F5;

  &__image {
    margin-right: 26px;
  }

  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #1E1E1E;
    margin-bottom: 4px;
  }

  &__user {
    margin-right: 114px;
  }

  &__message {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #999;
  }
}

.active {
  background: purple;
}
