include ../../components/button/button.pug 
include ../../components/profileForm/index.pug

section.profile 
  .profile__avatar

  h2.profile__name Игорь

  .profile__data
    +yaProfileForm('active')


