.user__avatar
  #{avatar}
.user__info 
  .user__name=name
  .user__message=message
.user__action
  .user__notification
    img(src="", alt="alt")
    #{count}
  .user__settings 
    img(src="", alt="")
