.user {
  display: flex;
  align-items: center;
  min-height: 68px;

  &__avatar {
    margin-right: 22px;
  }

  &__info {
    margin-right: 100px;
  }

  &__counter {
    top: -4px;
    right: -7px;
    position: absolute;
    font-size: 10px;
    .counter {
      width: 13px;
      height: 13px;
    }
  }

  &__name {
    margin-bottom: 5px;
  }

  &__action {
    position: relative;
    margin-right: 22px;
  }
}

.Burger__btn {
  margin-left: auto;
}
