@import './variables';

body,
html {
  margin: 0;
  padding: 0;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 21px;
  color: #1E1E1E;
}

.error {
  color: $error-color;
}

.link {
  display: block;
  text-align: center;
  font-size: 11px;
  color: $base-color;
  cursor: pointer;
  margin-top: 15px;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}
