.chats {
  display: flex;

  &__aside {
    width: 420px;
    border-right: 1px solid #EAEAEA;
    height: 100vh;
    overflow: auto;
  }

  main {
    width: 100%;
    height: 100vh;
    padding: 20px;
  }
}
