nav
  ul
    li 
      a(href='/chat') chat
    li 
       a(href='/registration') registration
    li 
       a(href='/login') login
    li 
       a(href='/viewProfile') viewProfile
    li 
       a(href='/changeProfile') changeProfile
    li 
      a(href='/changePassword') changePassword
    li 
      a(href='/404') 404
    li 
      a(href='/500') 500
