.actions {
  position: absolute;
  padding: 15px;
  width: 210px;
  height: 90px;
  top: 70px;
  right: 20px;


  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    cursor: pointer;
    .image {
      width: 20px;
      margin-right: 15px;
    }
  }
}


.hide {
  display: none;
}