.title {
  text-align: center;
  margin-bottom: 64px;
}

.field__wrapper {
  margin-bottom: 40px;
}

.checkbox__wrapper {
  margin-bottom: 69px;
}

.button__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.create__account__link {
  display: flex;
  justify-content: center;
}

.link__create {
  width: max-content;
  cursor: pointer;
}
